<h1>Pages#contact</h1>
<p>
  <%= number_to_phone "0918231299" %>
</p>
<p>Age <%= distance_of_time_in_words(Time.new(1981,10,26,11,50,00, "-08:00"), Time.now, options = { include_seconds: true }) %></p>
